.p {
  width: 30%;
  height: 25vh;
  margin: 20px 10px;
  border: 2px solid var(--light-grey);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  position: sticky;
}

.p-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white);
  margin: 3px;
  -webkit-box-shadow: 10px 10px 16px -12px var(--shadow-black-light);
  -moz-box-shadow: 10px 10px 16px -12px var(--shadow-black-light);
  box-shadow: 10px 10px 16px -12px var(--shadow-black-light);
}
.p-circle:nth-child(1) {
  background-color: var(--red);
}
.p-circle:nth-child(2) {
  background-color: var(--yellow);
}
.p-circle:nth-child(3) {
  background-color: var(--green);
}

.p-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
