@media screen and (max-width: 1000px) {
  .i-title {
    height: 30px;
    overflow: hidden;
  }
  .i-title-item {
    height: 30px;
    font-size: 22px;
    justify-content: flex-start;
  }
  @keyframes move {
    25% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(-60px);
    }
    75% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@media screen and (max-width: 540px) {
  .i-title {
    height: 30px;
    overflow: hidden;
  }
  .i-title-item {
    height: 30px;
    font-size: 22px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }

  .i-title {
    height: 30px;
    overflow: hidden;
  }
  .i-title-item {
    height: 30px;
    font-size: 20px;
    justify-content: center;
  }
  @keyframes move {
    25% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(-60px);
    }
    75% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .i-scroll-rect {
    stroke: var(--white);
  }
  .i-scroll-dot {
    fill: var(--white);
  }
}
@media screen and (max-width: 360px) {
  .i-scroll-rect {
    stroke: var(--green);
  }
  .i-scroll-dot {
    fill: var(--green);
  }
}

@media screen and (max-width: 300px) {
  .i-intro {
      font-size: 36px;
  }

  .i-name {
    font-size: 55px;
  }

  .i-title-sub {
    font-size: 29px;
  }

  .i-title {
    height: 30px;
  }

  .i-title-item {
    height: 27px;
    font-size: 20px;
    font-weight: bold;
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

@media screen and (max-width: 280px) {
  .i-scroll-rect {
    stroke: var(--white);
  }
  .i-scroll-dot {
    fill: var(--white);
  }
}