.t {
  width: 55px;
  height: 30px;
  border-radius: 20px;
  border: 1pz solid var(--light-grey);
  background-color: var(--shadow-black-dark);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 20px;
  height: 20px;
}
.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.25s ease;
  border: 2px solid var(--);
}

.day {
  left: 27px;
  background-color: var(--dark-grey);
}

.night {
  left: 3px;
  background-color: var(--dark-blue);
}