:root {
    --green: green;
    --bright-green: #73bf00;
    --dark-green: #64a700;
    --light-grey: #f2f2f2;
    --dark-grey: #e6e6e6;
    --dark-blue: #151518;
    --light-dark-blue: #3b3a52;
    --white: white;
    --shadow-black-light: rgba(0, 0, 0, 0.18);
    --shadow-black-dark: rgba(43, 43, 43, 0.75);
    --red: red;
    --yellow: rgb(255, 145, 0);
    --linkedin-blue: #0e76a8;
    --email-blue: #0072c6;
}